.nav {
    display: flex;
    flex-wrap: wrap;
    background: #78FEC7;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #001217;
        font-size: x-large;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
*,body
{

}
form
{
color:black;
}